
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10%;
}

div {
    color: rgb(255, 104, 155);
}

.date {
    color: rgb(8, 197, 255);
    font-size: 50px;
    float: left;
}

.menu {
    color: rgb(8, 197, 255);
    float: left;
}

.plantsList {
    color: rgb(22, 161, 41);
    font-size: 25px;
    width: 30%;
    float: left;
    clear: left;
}

.notepad {
    height: 400px;
    width: 40%;
    border: solid;
    border-color:rgb(161, 117, 73);
    border-width: 30px;
    border-radius: 25px;
    background-color: rgb(233, 222, 212);
    color: rgb(47, 48, 73);
    padding: 20px;
    overflow: auto;
    float: left;
}


.buttons1 {
    float: left;
    clear: left;
    margin-top: 10px;
    width: 33%;
}

.buttons2 {
    float: left;
    margin-top: 10px;
    width: 33%;
}